@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-family: "Jost", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;

  --color-peach: #e7816b;
  --color-light-peach: #ffad98;
  --color-lighter-peach: #feede9;
  --color-black: #1d1c1e;
  --color-white: #ffffff;
  --color-dark-grey: #333136;
  --color-lighter-grey: #797580;
  --color-light-grey: #f1f3f5;
  scrollbar-width: thin;
}

body,
#root {
  width: 100%;
  padding: 0;
}

#root > header,
#root > main,
.inner-footer {
  padding: 0 calc((100vw - 1110px) / 2);
}

h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

.btn {
  min-width: 150px;
  min-height: 65px;
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: var(--color-peach);
  color: var(--color-white);
  border: 0;
  border-radius: 8px;
  text-transform: uppercase;
}

.btn-dark {
  width: 152px;
  height: 56px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 0;
  border-radius: 8px;
  text-transform: uppercase;
}

.btn:hover,
.btn-dark:hover {
  background-color: var(--color-light-peach);
  color: var(--color-white);
}

footer {
  color: var(--color-white);
  background-color: var(--color-black);
}

hr {
  border-color: var(--color-dark-grey);
}

@media screen and (max-width: 769px) {
  #root > header,
  #root > main,
  .inner-footer {
    padding: 0 40px;
  }
}

@media screen and (max-width: 426px) {
  #root > header,
  #root > main,
  .inner-footer {
    padding: 0 0;
  }
}
